In [205]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Lenovo\Desktop\projet_baina\nouveau_projet\file (1).csv")

In [206]:
df.shape

(798, 20)

In [207]:
df1=df.copy()

In [208]:
df1=df1.drop_duplicates()
df1=df1.reset_index(drop=True)
df1.shape

(798, 20)

In [209]:
df1=df1.drop(["Unnamed: 0","country_from","country_to"],axis=1)

dropithom hyt db matalan country from rah kata3tyna nefs ma3loma d dawru , 2la 3rfna rah msha preimier league donc rah msha l england . hyt kol dawla fyha ghy dwru wahd

In [210]:
occurrences_clubs = df1["club_from"].value_counts().unique()
occurrences_clubs

array([15, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

In [211]:
df1["club_from"].unique()

array(['Borussia Dortmund', 'Ajax Amsterdam', 'Leicester City',
       'AS Monaco', 'Real Madrid', 'Real Sociedad', 'Juventus FC',
       'Manchester City', 'Liverpool FC', 'Chelsea FC',
       'Brighton & Hove Albion', 'ACF Fiorentina', 'Sevilla FC',
       'Leeds United', 'Everton FC', 'SL Benfica', 'SSC Napoli',
       'Atalanta BC', 'Valencia CF', 'Manchester United', 'Bayern Munich',
       'Sporting CP', 'AC Milan', 'CA River Plate', 'Olympique Lyon',
       'OGC Nice', 'FC Porto', 'LOSC Lille', 'Club Brugge KV',
       'Torino FC', 'Stade Rennais FC', 'Red Bull Salzburg',
       'SC Freiburg', 'Tottenham Hotspur', 'US Sassuolo', 'Fulham FC',
       'Atlético de Madrid', 'RB Leipzig', 'Wolverhampton Wanderers',
       'Stade Reims', 'SS Lazio', 'VfL Wolfsburg', 'TSG 1899 Hoffenheim',
       'Feyenoord Rotterdam', 'VfB Stuttgart', 'Arsenal FC',
       'RCD Espanyol Barcelona', 'Olympique Marseille', 'Burnley FC',
       'Eintracht Frankfurt', 'Rangers FC', 'RC Lens',
       'Manchester City U21', 'Paris Saint-Germain', 'AS Roma',
       'Southampton FC', 'US Salernitana 1919', '1.FC Union Berlin',
       'SC Braga', 'Udinese Calcio', 'FC Barcelona', 'UD Almería',
       'SK Sturm Graz', 'Villarreal CF', 'Shakhtar Donetsk',
       'AC Sparta Prague', 'Hellas Verona', 'Brentford FC', 'Inter Milan',
       'Bologna FC 1909', 'KV Oostende', 'Watford FC', 'Aston Villa',
       'Celta de Vigo', '1.FSV Mainz 05', 'Borussia Mönchengladbach',
       'West Ham United', 'Cagliari Calcio', 'Getafe CF', 'FC Nantes',
       'Zenit St. Petersburg', 'Portimonense SC', 'UC Sampdoria',
       'Dinamo Batumi', 'Middlesbrough FC', 'Los Angeles FC',
       'Clermont Foot 63', 'Galatasaray', 'Dynamo Moscow', 'FC Empoli',
       '1.FC Köln', 'Al-Rayyan SC', 'FC Groningen', 'Lokomotiv Moscow',
       'CA Peñarol', 'Granada CF', 'Fluminense Football Club',
       'Sociedade Esportiva Palmeiras', 'AZ Alkmaar', 'Angers SCO',
       'Hertha BSC', 'West Bromwich Albion', 'New York City FC',
       'Club Libertad Asunción', 'Grêmio Foot-Ball Porto Alegrense',
       'Olympiacos Piraeus', 'Swansea City', 'São Paulo Futebol Clube',
       'RSC Anderlecht', 'Lech Poznan', 'ESTAC Troyes', 'KRC Genk',
       'FC Schalke 04', 'FC Zürich', 'PSV Eindhoven', 'FK Rostov',
       'Besiktas JK', 'Sport Club Corinthians Paulista', 'Trabzonspor',
       'Club Atlético Lanús', 'Huddersfield Town', 'Chicago Fire FC',
       'New England Revolution', 'GNK Dinamo Zagreb', 'FC Augsburg',
       'Newcastle United', 'Athletic Bilbao', 'Spezia Calcio',
       'FC Toulouse', 'SK Slavia Prague', 'Vitória Guimarães SC',
       'FC Nordsjaelland', 'Santos FC', 'Bayer 04 Leverkusen',
       'Arminia Bielefeld', 'Rubin Kazan', 'AS Saint-Étienne',
       'Levante UD', 'Servette FC', 'Toronto FC', 'Spartak Moscow',
       'Norwich City', 'Al-Ahli SFC', 'FC Utrecht', 'FC Lorient',
       'CR Flamengo', 'Al-Arabi SC', 'Gil Vicente FC', 'BSC Young Boys',
       'CA Banfield', 'FC Metz', 'Al-Duhail SC', 'FC Girondins Bordeaux',
       'RC Strasbourg Alsace', 'Tigres UANL', 'Reading FC', 'Junior FC',
       'Clube Atlético Mineiro', 'Boavista FC', 'Zamalek SC',
       "CA Newell's Old Boys", 'Millwall FC', 'Montpellier HSC',
       'FC Crotone', 'FK Bodø/Glimt', 'Rapid Vienna',
       'AA Argentinos Juniors', 'CD Cruz Azul', 'Real Madrid Castilla',
       'FC Copenhagen', 'Crystal Palace', 'Al-Nassr FC', 'Malmö FF',
       'FK Ufa', 'Real Betis Balompié', 'Pisa Sporting Club',
       'Fenerbahce', 'Sheffield United', 'R Charleroi SC', 'KAA Gent',
       'Club León FC', 'Union Saint-Gilloise', 'Le Havre AC',
       'Hammarby IF', 'Elche CF', 'CF Monterrey', 'FCSB',
       'CA Boca Juniors', 'Genoa CFC', 'FC Midtjylland',
       'Racing Santander', 'Venezia FC', 'CF América',
       'Aris Thessaloniki', 'Nottingham Forest', 'FC Barcelona Atlètic',
       'Aberdeen FC', 'SM Caen', 'FC Paços de Ferreira', 'CD Santa Clara',
       'VfL Bochum', 'Standard Liège', 'HNK Hajduk Split', 'Konyaspor',
       'FK Krasnodar', 'Atlanta United FC', 'Derby County',
       'Shanghai Port', 'Deportivo Alavés', 'Parma Calcio 1913',
       'Manchester United U21', 'Vitesse Arnhem', 'Chelsea FC U21',
       'LDU Quito', 'AIK', 'Coritiba Foot Ball Club', 'SD Eibar',
       'FC Sochi', 'Benevento Calcio', 'Club Estudiantes de La Plata',
       'Lommel SK', 'Atlético de San Luis', 'Al-Wahda FC',
       'Club Nacional', 'Atlético Nacional', 'CA San Lorenzo de Almagro',
       'Antalyaspor', 'Club Deportivo Maldonado', 'UNAM Pumas',
       'Racing Club', 'SD Huesca', 'Fortaleza Esporte Clube',
       'Santos Laguna', 'Cádiz CF', 'Hatayspor', 'FC Sheriff Tiraspol',
       'Inter Miami CF', 'CD Universidad Católica',
       'Independiente del Valle', 'Defensa y Justicia', 'Club Tijuana',
       'Kasimpasa', 'GD Estoril Praia', 'ASEC Mimosas',
       'Red Bull Bragantino', 'Krylya Sovetov Samara', 'Royal Antwerp FC',
       'FK Partizan Belgrade', 'Austin FC', 'Club Athletico Paranaense',
       'Vancouver Whitecaps FC', 'Deportivo Toluca', 'CA Independiente',
       'Aarhus GF', 'Sporting Gijón', 'Club Guaraní', 'AEK Athens',
       'FC Basel 1893', 'Sporting CP U17', 'Sharjah FC', 'Mazatlán FC',
       'Fatih Karagümrük', 'Sport Club Internacional',
       'Sport Club do Recife', 'UD Las Palmas'], dtype=object)

In [212]:
colonnes_categorielles1 = ['league_from', 'league_to']

for colonne in colonnes_categorielles1:
    counts = df1[colonne].value_counts()
    categories_autre = counts[counts <4].index.tolist()
    df1[colonne] = df1[colonne].apply(lambda x: 'Autre' if x in categories_autre else x)
colonnes_categorielles2= ['club_to', 'club_from']
for colonne in colonnes_categorielles2:
    counts = df1[colonne].value_counts()
    categories_autre = counts[counts < 11].index.tolist()
    if 'Saudi Pro League' in categories_autre:
        categories_autre.remove('Saudi Pro League')
    
    df1[colonne] = df1[colonne].apply(lambda x: 'Autre' if x in categories_autre else x)

df_encoded = pd.get_dummies(df1, columns=colonnes_categorielles1 + colonnes_categorielles2 + ['position'] + ['loan'], dtype=int)

In [213]:
df_encoded.shape

(798, 93)

In [214]:
df_encoded["fee"] = df_encoded["fee"].str.replace('k', '')
df_encoded["fee"]=df_encoded["fee"].astype(float)
df_encoded["market_value"] = df_encoded["market_value"].str.replace('k', '')
df_encoded["market_value"]=df_encoded["market_value"].astype(float)

In [215]:
df_encoded=df_encoded.dropna()
df_encoded=df_encoded.drop_duplicates()

In [216]:
df_encoded.iloc[:,4:11].corr().abs()

          ATT       SKI       MOV       POW       MEN       DEF        GK
ATT  1.000000  0.906219  0.653273  0.827636  0.840280  0.157337  0.783897
SKI  0.906219  1.000000  0.699717  0.714497  0.872538  0.285973  0.753965
MOV  0.653273  0.699717  1.000000  0.507865  0.559894  0.076811  0.563624
POW  0.827636  0.714497  0.507865  1.000000  0.781490  0.206922  0.603301
MEN  0.840280  0.872538  0.559894  0.781490  1.000000  0.528228  0.727101
DEF  0.157337  0.285973  0.076811  0.206922  0.528228  1.000000  0.444797
GK   0.783897  0.753965  0.563624  0.603301  0.727101  0.444797  1.000000

In [217]:
df_encoded=df_encoded.reset_index(drop=True)

In [218]:
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error , mean_absolute_error
from sklearn.model_selection import train_test_split
reg=LinearRegression()
X=df_encoded.drop(["fee","name"],axis=1)
y=df_encoded["fee"]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1937)
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

Mean Squared Error: 5298.8040195393505
Mean Absolute Error: 46.52315498475019

In [219]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
X = df_encoded.drop(["fee", "name"], axis=1)
pca = PCA(n_components=10)  
X_pca = pca.fit_transform(X)
y = df_encoded["fee"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1937)
alphas = [0.001, 0.01, 0.1, 1, 10, 100]
reg = Ridge()
param_grid = {'alpha': alphas}
grid_search = GridSearchCV(reg, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)
best_reg = grid_search.best_estimator_
y_pred = best_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Best alpha found:", best_reg.alpha)

Mean Squared Error: 4321.5589591766975
Mean Absolute Error: 37.11408750795968
Best alpha found: 10

In [220]:
df_encoded.iloc[:,4:11].corr()

          ATT       SKI       MOV       POW       MEN       DEF        GK
ATT  1.000000  0.906219  0.653273  0.827636  0.840280  0.157337 -0.783897
SKI  0.906219  1.000000  0.699717  0.714497  0.872538  0.285973 -0.753965
MOV  0.653273  0.699717  1.000000  0.507865  0.559894  0.076811 -0.563624
POW  0.827636  0.714497  0.507865  1.000000  0.781490  0.206922 -0.603301
MEN  0.840280  0.872538  0.559894  0.781490  1.000000  0.528228 -0.727101
DEF  0.157337  0.285973  0.076811  0.206922  0.528228  1.000000 -0.444797
GK  -0.783897 -0.753965 -0.563624 -0.603301 -0.727101 -0.444797  1.000000

In [221]:
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df_encoded.drop(["fee", "name"], axis=1)
y = df_encoded["fee"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1937)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lasso = LassoCV(cv=5, max_iter=10000)
lasso.fit(X_train_scaled, y_train)

y_pred = lasso.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Best alpha found:", lasso.alpha_)

Mean Squared Error: 4248.738331819295
Mean Absolute Error: 28.833730459637938
Best alpha found: 5.492682386726116